/* body {

    color: #08abeb;
    background-color: #fff;
  } */
  .jumbotron {
    text-align: center;
    text-shadow: darkslateblue;
    color: #000000;
    }

  /* thead
  tbody
  container-fluid
   */

#secondJBox {
    width:100%;
    height: 50px;
    background-color:#f1eade;
    padding: 15px;
    margin:0px;
    opacity: 0.7;
    text-align: center;
}
h1 {
  text-align: center;
  font: arial;
}

h2 { 
  text-align: left;
  color: black;
}

.img-class {
    background: none;
    border: none;
}
}
/* jumbotron-special.secondJBox{
    width:100%;
    height: 50px;
    background-color:#f1eade;
    padding: 15px;
    margin:0px;
    opacity: 0.7;
    text-align: center;} */